*{
	margin: 0;
	padding: 0;
}

.layered{
	height: 18px;
	
	border: 1px solid rgb(100,100,100);
	padding: 3px;
	margin: 2px;
}
	
.unselectable{
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}

.layered.selected{
	border: 4px solid rgb(180,180,0);
	padding: 0;
}

#layers{
	width: 100%;
}

td{
	width: 10px;
	background-color: rgb(255,255,255);
}

td.selected{
	background-color: rgb(255,0,0);
}

#workarea{
	position: relative;
}

.relative{
	position: absolute;
}