*{
	margin: 0;
	padding: 0;
}

.layered{
	height: 18px;
	
	border: 1px solid rgb(100,100,100);
	padding: 3px;
	margin: 2px;
	
	
	
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
}

.layered.selected{
	border: 4px solid rgb(180,180,0);
	padding: 0;
}